<!-- src/templates/bibliografia.html -->
{% extends "base.html" %}

{% block title %}Bibliografia - Apresentação{% endblock %}

{% block content %}
<div class="content-section">
    <h2 class="section-title">Bibliografia</h2>
    <ul>
        <li>**Python Official Documentation.** Disponível em: <a href="https://docs.python.org/3/" target="_blank">https://docs.python.org/3/</a>. Acesso em: 25 set. 2025.</li>
        <li>**JavaScript MDN Web Docs.** Disponível em: <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript" target="_blank">https://developer.mozilla.org/pt-BR/docs/Web/JavaScript</a>. Acesso em: 25 set. 2025.</li>
        <li>**FLASK Documentation.** Disponível em: <a href="https://flask.palletsprojects.com/" target="_blank">https://flask.palletsprojects.com/</a>. Acesso em: 25 set. 2025.</li>
        <li>**JINJA2 Documentation.** Disponível em: <a href="https://jinja.palletsprojects.com/" target="_blank">https://jinja.palletsprojects.com/</a>. Acesso em: 25 set. 2025.</li>
        <li>**CORS (Cross-Origin Resource Sharing).** Disponível em: <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTTP/CORS" target="_blank">https://developer.mozilla.org/pt-BR/docs/Web/HTTP/CORS</a>. Acesso em: 25 set. 2025.</li>
        <li>**PEP 8 -- Style Guide for Python Code.** Disponível em: <a href="https://www.python.org/dev/peps/pep-0008/" target="_blank">https://www.python.org/dev/peps/pep-0008/</a>. Acesso em: 25 set. 2025.</li>
        <li>**Python Design Patterns.** Disponível em: <a href="https://refactoring.guru/design-patterns/python" target="_blank">https://refactoring.guru/design-patterns/python</a>. Acesso em: 25 set. 2025.</li>
        <li>**JavaScript Design Patterns.** Disponível em: <a href="https://refactoring.guru/design-patterns/javascript" target="_blank">https://refactoring.guru/design-patterns/javascript</a>. Acesso em: 25 set. 2025.</li>
    </ul>
</div>
{% endblock %}


